*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.game-menu{
    position: absolute;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-menu__title{
    display: flex;
    align-items: center;
    gap: 20px;
    vertical-align: middle;
}

.game-menu__play{
    text-align: center;
    font-size: 70px;
}

.game-menu__play i:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.game-menu--inactive{
    transform: translateY(-100%);
    transition-duration: 1s;
}

.game{
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.game--active {
    opacity: 1;
    transition-delay: 1s;
    transition-duration: 1s;
}

.game-over{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 36px;
}

.game-over__play{
    display: flex;
    text-align: center;
    gap: 20px;
    font-size: 24px;
    width: fit-content;
    align-self: center;
    padding: 16px;
    border-radius: 8px;
}
.game-over__play i{
    font-size: 36px;
}
.game-over__play:hover{
    cursor: pointer;
    border: 1px solid white;
}
.game-over--inactive{
    display: none;
}

canvas {
    border: 2px solid white;
}



#container{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btns {
    width: 100%;
    display: none;
    justify-content: space-around;
    gap: 5px;
}

#btns button {
    width: 25%;
    background-color: indigo;
    border: 3px solid #F1AE1B;
    color: #F1AE1B;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
}

#btns button:hover{
    background-color:#F1AE1B;
    color: indigo;
}

#hud{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

#settings{
    display:flex;
    gap: 20px;
}

#settings-icon{
    font-size: 20px;
    cursor: pointer;
}

.settings-inactive{
    display: none;
}

.settings-active{
    display: flex;
    align-items: center;
    gap: 5px;
}

#player-stats{
    display: flex;
    gap: 10px;
}

#time{
    min-width: 80px;
}
#time-played{
    font-size: 12px;
}

#grid{
    width: 30px;
}

@media screen and (max-width: 600px), screen and(max-height: 600px){
    #btns button {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px), screen and(max-height: 500px){
    #btns button {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px), screen and(max-height: 400px){
    #btns button {
        font-size: 10px;
    }
}